footer.footer
	.w 
		nav
			ul 
				each val in ["Главная","Деревянные окна","Шкафы-купе","Вызов замерщиков","Наши дилеры","Карта сайта"]
					+navi(val)
		address 
			a(href="tel:+74959895155") +7 (495) 989-51-55