include ../helpers/mixins
block variables

doctype html
html 
 head
  title #{title}
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet")
  link(href="static/css/main.css" rel="stylesheet")
 body 
  include ../modules/header
  div.page-content
    block content
  include ../modules/footer
  script(src="static/js/main.js")